<!DOCTYPE html>
<html>
  <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/about_me/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/about_me/script.js"></script>
</html>
<body>
      <div class="topnav">
        <a href="form">Submit a new form</a>
        <a href="about_me">Go to about me page</a>
        <a href="our_purpose">Go to our purpose page</a>
      </div>
        <img id="lynx" src="https://lh3.googleusercontent.com/BpfHg6IqPbGaeF4qREVGWGmtJzyO6EOH0Pkdb5ZrWZPUvluj11DySbAQD0ThtxRKLTC81-I14G17p7xShXbBsnyhxUHqPTFpEwKlQNJ8-e3exto6ctU=w1280"
           alt="Paris" class="center">
      <h1>
        About Us
      </h1>
    <center>
      <h2>Our Team:</h2>
        
        <b>
          Ruthvik Ayyagari - A 10th grader at Mason High School.
        </b>
        <b>
           Eashan Vytla - A 9th grader at Mason High School.
        </b>
        <b>
          Aryan Bhowmik - A 9th grader at Mason High School.
      </b>   <b>
          Aditya Sahani - A 10th grader at Mason High School
        </b>
        </center>
</body>
      
    
          