<main>
      <p class="bold">Oh hi,</p>
    
      <p>Animal Information:</p>
      
      <form>
        <input name="dream" type="text" maxlength="100" placeholder="Name" aria-labelledby="submit-dream">
        <input name="dream" type="text" maxlength="100" placeholder="Species" aria-labelledby="submit-dream">
        <input name="dream" type="text" maxlength="100" placeholder="Age" aria-labelledby="submit-dream">
        <input name="dream" type="text" maxlength="100" placeholder="Gender" aria-labelledby="submit-dream">
        <input name="dream" type="text" maxlength="100" placeholder="Location" aria-labelledby="submit-dream">

        <button type="submit" id="submit-dream">Submit Animal</button>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
</main>