<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
          overflow: hidden;
          background-color: #333;
        }

        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }

        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }

        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
    </style>
    <title>Lynx | Save Endangered Species</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
 
  <header>
      <div class="topnav">
        <a href="form">Submit a new form</a>
        <a href="about_me">Go to about me page</a>
        <a href="our_purpose">Go to our purpose page</a>
      </div>
    
      <img id="lynx" src="https://lh3.googleusercontent.com/BpfHg6IqPbGaeF4qREVGWGmtJzyO6EOH0Pkdb5ZrWZPUvluj11DySbAQD0ThtxRKLTC81-I14G17p7xShXbBsnyhxUHqPTFpEwKlQNJ8-e3exto6ctU=w1280"
           alt="Paris" class="center">
      <br>
      <br>
      <marquee>There are many endangered species out there and we think that this
          initiative will allow the animal population to sustain itself. Our
          goal is for zoos to be able to use this network to find mates for 
          their animals so that they can further their development. You can
          think of this as somewhat of an animal tinder and it is up to the 
          zoos to pick out the right mate. This software could be a game-changer 
          and we think that it could really bloom all across the world in the future.</marquee>
      <br>
      <br>
    
      <img src="https://cdn.britannica.com/26/162626-050-3534626F/Koala.jpg" alt="Paris" class="center">
  </header>
  
  <body>
    <h2>This is the home page</h2>
      <p>It's a test view</p>
        <ul id="here">
          <% animals.forEach((animal) => { %>
            <% animals.forEach((animal) => { %>
              <li><%= animal.name %></li>
            <% }); %>
          <% }); %>
        </ul>
  </body>
</html>