<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lynx | Save Endangered Species</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
 
  <header>
    <marquee>Save Endangered Species</marquee>
      <img src="https://lh5.googleusercontent.com/M0no553z050y-vWEosomIyLKQMRs0-3MGgA-nwHF_rfMX4BrJyR5sAOKxFA3BlzxbVFJ9Ff_Fn_iLEqBBimrSXnBHdZwIPa3YOGpIh1MxazZD2HP0ys=w1280"
           alt="Paris" class="center">
      <img src="https://cdn.britannica.com/26/162626-050-3534626F/Koala.jpg" alt="Paris" class="center">
        <nav>
          <ul>
            <li><a href="form">Submit a new form</a></li>
            <li><a href="about_me">Go to about me page</a></li>
            <li><a href="our_purpose">Go to our purpose page</a></li>
          </ul>
        </nav>
  </header>
  
  <body>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src=""></script>

  </body>
</html>
