<!DOCTYPE HTML>
<html>
  <main>
   <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
      <header>
      <h1>
        Our Purpose
      </h1>
    
      <h2>Goal:</h2>
        <p>
          There are many endangered species out there and we think that this initiative will allow the animal population to sustain itself. Our goal is for zoos to be able to use this network to find mates for their animals so that they can further their development. You can think of this as somewhat of an animal tinder and it is up to the zoos to pick out the right mate. We started this nonprofit organization about 16 hours ago and we think that it could really bloom all across the world in the future.  
        </p>
        </main>
</html>
