<!DOCTYPE html>
<html>
  <title>Matches!</title>
  <meta name="description" content="Match your pet" />
  <link
    id="favicon"
    rel="icon"
    href="https://glitch.com/edit/favicon-app.ico"
    type="image/x-icon"
  />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/matches/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/matches/script.js"></script>
</html>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <ul>
    <li>
      <a href="#" id="test">1</a>
      <ul>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
      </ul>
    </li>
  </ul>
</body>
