<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/form/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/form/script.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a href="form">Submit a new form</a>
      <a href="about_me">Go to about me page</a>
      <a href="our_purpose">Go to our purpose page</a>
    </div>
    <img
      id="lynx"
      src="https://lh3.googleusercontent.com/BpfHg6IqPbGaeF4qREVGWGmtJzyO6EOH0Pkdb5ZrWZPUvluj11DySbAQD0ThtxRKLTC81-I14G17p7xShXbBsnyhxUHqPTFpEwKlQNJ8-e3exto6ctU=w1280"
      alt="Paris"
      class="center"
    />

    <p>Animal Information:</p>

    <form method="POST" action="/submit-form">
      <input
        name="name"
        type="text"
        maxlength="100"
        placeholder="Name"
        aria-labelledby="submit-dream"
      />
      <input
        name="species"
        type="text"
        maxlength="100"
        placeholder="Species"
        aria-labelledby="submit-dream"
      />
      <input
        name="age"
        type="text"
        maxlength="100"
        placeholder="Age"
        aria-labelledby="submit-dream"
      />
      <input
        name="gender"
        type="text"
        maxlength="100"
        placeholder="Gender"
        aria-labelledby="submit-dream"
      />
      <input
        name="location"
        type="text"
        maxlength="100"
        placeholder="Location"
        aria-labelledby="submit-dream"
      />
      <input
        name="ownerNam"
        type="text"
        maxlength="100"
        placeholder="Owners Name"
        aria-labelledby="submit-dream"
      />
      <input
        name="ownerNum"
        type="text"
        maxlength="100"
        placeholder="Owners Contact #"
        aria-labelledby="submit-dream"
      />
      <button type="submit" id="submit-dream">Submit!</button>
      <!--<button type="submit" id="submit-dream"><a href="/matches">Submit</a></button>-->
    </form>

    <section class="dreams">
      <ul id="dreams"></ul>
    </section>
  </body>
</html>
